.map_container_ {
	position: relative;
    width: 100%;
    height: 0;
	overflow: hidden;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
}
.map_container {
    width: 100%;
    height: 100%;
	overflow: hidden;
}
.map_content img {
	max-width: none;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -o-grab;
	cursor: grab;
}
.mclose {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 28px;
	height: 28px;
	font-size: 28px;
	z-index: 30;
	cursor: pointer;
}
.mclose:after {
	color: #FFFFFF;
	content: "\2573";
}
.mclose:hover:after {
	color: #DDDDDD;
}