/* УНИВЕРСАЛЬНЫЙ БЛОК */
.uni {
	position: relative;
	display: table;
	width: 100%;
	min-height: 400px;
}
.uni_on {
	position: relative;
	width: 100%;
	height: 100%;
}
.uni_table {
	display: table;
	width: 100%;
	height: 100%;
}
.uni_left40 {
	display: table-cell;
	width: 34%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	min-height: 600px;
}
.uni_right60 {
	display: table-cell;
	width: 66%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	min-height: 600px;
}
.uni_left40 img {
	max-width: 80%;
}
.uni_right60 img {
	max-width: 80%;
}
.uni_back {
	position: relative;
	width: 100%;
}
.uni_back img {
	min-width: 100%;
	margin: 0;
}
.uni_left40 h3 {
	margin-bottom: 22px;
}
.uni_right60 h3 {
	margin-bottom: 22px;
}
.uni_in {
	max-width: 50%;
	margin: 0 auto;
	text-align: left;
}
.uni_margined {
	margin-bottom: 75px;
}
@media only screen and (max-width: 960px) {
	.uni {
		display: block;
	}
	.uni_left40 {
		position: relative;
		display: block;
		width: 100%;
	}
	.uni_right60 {
		position: relative;
		display: block;
		width: 100%;
	}
	.uni_left40 img {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.uni_right60 img {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.uni_in {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
